DB_TYPE=mysql
DB_HOST={{ entitybase_mariadb_host }}
DB_PORT=3306
DB_DATABASE=entitybase
DB_USER=entitybase
DB_PASSWORD={{ entitybase_db_password }}
DATADIR=/opt/entitybase-backend/data
STREAMING_ENABLED=false
LOG_LEVEL=INFO
